.inline-block-admin {
    display: inline-block;
    min-width: 2em;
    min-height: 1em;
}

.inline-block-admin .button-wrapper{
    position: relative;
    width: 100%;
    height: 0px;
}

.inline-block-admin:hover {
    outline: 1px dashed #444444;
}

.inline-block-admin .btn-inline-block-edit {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.inline-block-admin .btn-inline-block-edit:focus, .inline-block-admin .btn-inline-block-edit:active:focus, .inline-block-admin .btn-inline-block-edit.active:focus, .inline-block-admin .btn-inline-block-edit.focus,
.inline-block-admin .btn-inline-block-edit.focus:active, .inline-block-admin .btn-inline-block-edit.active.focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.inline-block-admin .btn-inline-block-edit:hover, .inline-block-admin .btn-inline-block-edit:focus, .inline-block-admin .btn-inline-block-edit.focus {
    color: #333;
    text-decoration: none;
}

.inline-block-admin .btn-inline-block-edit:active, .inline-block-admin .btn-inline-block-edit.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

.inline-block-admin .btn-inline-block-edit.disabled, .inline-block-admin .btn-inline-block-edit[disabled], .inline-block-admin fieldset[disabled] .btn-inline-block-edit {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.inline-block-admin .btn-inline-block-edit.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.inline-block-admin .btn-inline-block-edit.btn-success:hover, .inline-block-admin .btn-inline-block-edit.btn-success:focus, .inline-block-admin .btn-inline-block-edit.btn-success.focus,
.inline-block-admin .btn-inline-block-edit.btn-success:active, .inline-block-admin .btn-inline-block-edit.btn-success.active, .inline-block-admin .open > .dropdown-toggle.btn.btn-success {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}

.inline-block-admin .btn-inline-block-edit.btn-success:active, .inline-block-admin .btn-inline-block-edit.btn-success.active, .inline-block-admin .open > .dropdown-toggle.btn.btn-success {
    background-image: none;
}

.inline-block-admin .btn-inline-block-edit {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.inline-block-admin:hover .btn-inline-block-edit {
    display: inherit;
}

.inline-block-admin a.btn {
    text-decoration: none;
}